html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
  but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
  font-size: 110%
}

body{
  background: linear-gradient(45deg, lightpink, lightblue, lightcyan, lightgreen);
  font-family: 'Audiowide', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

nav{
  position: fixed; 
  top: 2px;
  display: flex;
  width: 100%;
  align-items: flex-start;
}

h1 {
  background-color: rgba(0, 187, 255, 0.242);
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
  padding: 3.5%;
}

section {
  border-radius:10%;
  border: 15px ridge rgb(35, 35, 199);
  background-color: blue;
  display: grid;
  grid-template-rows: repeat(6, 10vh);
  grid-template-columns: repeat(6, 10vh);
  grid-gap: 0.5vmin;
  padding: 3.5px;
}

div {
  border: 2px ridge black;
}

div.sqrs {
  border-radius: 50%;
  background:linear-gradient(45deg, rgb(255, 182, 193), lightblue, lightcyan, lightgreen);
  filter: blur(.6px);
}


.btn{
  background-color: transparent;
  font-family: 'Audiowide', cursive;
  font-size: 1rem;
  border-radius: 15%;
  border: 2px ridge black;
  width: 7rem;
  height: 2rem;
}




body.dark{
  background-color: black;

}