html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
  but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
  font-size: 110%
}

body{
  --body-bg: linear-gradient(45deg, lightpink, lightblue, lightcyan, lightgreen);
  --body-color: black;
  --header-bg-color: rgba(0, 187, 255, 0.242);
  --section-border: 15px ridge rgb(35, 35, 199);
  --section-bg-color: blue;
  --btn-color: black;
  --btn-border: 2px ridge black;
  --light-dark-btn-content: "Dark Mode"; 
  background: var(--body-bg);
  font-family: 'Audiowide', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--body-color);
}

body.dark{
  --body-bg: linear-gradient(45deg, black, rgb(99, 0, 99), black );
  --body-color: white;
  --header-bg-color: rgba(26, 9, 9, 0.708);
  --section-border: 15px ridge rgb(255, 98, 0);
  --section-bg-color: rgb(254, 110, 0);
  --btn-color: white;
  --btn-border: 2px ridge white;
  --light-dark-btn-content: "Light Mode"; 
  background: var(--body-bg);
  color: var(--body-color)
}

nav{
  position: fixed; 
  top: 2px;
  display: flex;
  width: 100%;
  align-items: flex-start;
}

h1 {
  background-color: var(--header-bg-color);
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
  padding: 3.5%;
}

section {
  border-radius:10%;
  border: var(--section-border);
  background-color: var(--section-bg-color);
  display: grid;
  grid-template-rows: repeat(6, 7vh);
  grid-template-columns: repeat(6, 7vh);
  grid-gap: 0.5vmin;
  padding: 3.5px;
}

div {
  border: 2px ridge black;
}

div.sqrs {
  border-radius: 50%;
  background:var(--body-bg);
  filter: blur(.15px);
}

.btn{
  color: var(--btn-color);
  background-color: transparent;
  font-family: 'Audiowide', cursive;
  font-size: 1.1rem;
  border-radius: 15%;
  border: var(--btn-border);
  width: 8rem;
  height: 2.2rem;
  padding-right: 6px;
}

#replay:hover{
background: rgba(255, 0, 0, 0.625);
}

#light-dark-button::after{
  content: var(--light-dark-btn-content)
}
